* {
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}



:root {
    --primary-color: #0c2835;
    --secondary-color: #008B8B;
}

body {
    background-color:var(--primary-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__calc {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}


.container-calc {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 300px;
    height: 420px;
    padding:10px;
    background: rgb(0, 42, 45);
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
}

.container-calc__h1 {
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    height:22px;
    text-align: center;
    color:rgb(230, 230, 230);
}

.display {
    gap:5px;
    width: 90%;
    margin:auto;
    height: 60px;
    background:rgb(0, 62, 22);
    border-radius: 8px;
    background-color: #00916e;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.display__operacion {
    display:flex;
    gap:3px;
    padding-right: 15px;
}

.result {
    font-size:20px;
    padding-right:15px;
}

.calc__container-btn {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap:20px;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin-top:10px;
}

.calc__container-btn div  {
    background:rgb(20, 20, 20);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor:pointer;
    min-width: 60px;
    min-height: 30px;
}

.calc__container-btn div:active {
    opacity:0.8;
}

.calc__container-btn div p {
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif; 
    color:#fff;
    user-select: none;
}



.btn-delete-all {
    grid-row:1 / 2;
    grid-column: 1 / 3;
}

.calc__container-btn div:nth-child(16) {
    grid-row:1 / 2;
    grid-column: 3 / 4;
}

.calc__container-btn div:nth-child(10) {
    grid-column: 1 / 3;
}


.calc__container-btn div:nth-child(11) {
    grid-row:1 / 2;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(12) {
    grid-row:2 / 3;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(13) {
    grid-row:3 / 4;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(14) {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(15) {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
}


.container-calc__p {
    font-size: 18px;
    padding:4px;
    text-align: center;
    height: 18px;
    color:#fff;
}
