* {
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #00474e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23007984' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.section__calc {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:40px;
}


.container-calc {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 400px;
    height: 500px;
    padding:10px;
    background: rgb(0, 42, 45);
    border-radius: 8px;
}

.container-calc__h1 {
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    height:18px;
    text-align: center;
    color:rgb(230, 230, 230);
}

.display {
    width: 100%;
    height: 60px;
    background:rgb(0, 62, 22);
    border-radius: 8px;
    background-color: #00916e;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.result {
    font-size:20px;
    padding-right:15px;
}

.calc__container-btn {
    display: grid;
    grid-template-columns: repeat(4,85px);
    grid-template-rows: repeat(5,55px);
    gap:20px;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.calc__container-btn div  {
    background:rgb(20, 20, 20);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor:pointer;
}

.calc__container-btn div p {
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif; 
    color:#fff;
}



.btn-delete-all {
    grid-row:1 / 2;
    grid-column: 1 / 3;
}

.calc__container-btn div:nth-child(16) {
    grid-row:1 / 2;
    grid-column: 3 / 4;
}

.calc__container-btn div:nth-child(10) {
    grid-column: 1 / 3;
}


.calc__container-btn div:nth-child(11) {
    grid-row:1 / 2;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(12) {
    grid-row:2 / 3;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(13) {
    grid-row:3 / 4;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(14) {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.calc__container-btn div:nth-child(15) {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
}


.container-calc__p {
    font-size: 18px;
    padding:4px;
    text-align: center;
    height: 8px;
    color:#fff;
}